name: Run Tests

on: [pull_request]


jobs:
  e2e:
    name: Run Itegration Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    # get netlify preview URL
    - uses: voorhoede/get-netlify-url@v2
      id: get-netlify-url
    # start node scripts
    - uses: actions/setup-node@v2
      with:
        node-version: '16.x'
    - uses: pnpm/action-setup@v2
      with:
        version: 'latest'

    - name: Install Dependencies
      run: pnpm install

    - name: Install Playwright
      run: npx playwright install --with-deps

    - name: Publish:Dry-Run
      run: pnpm publish:dry

    - name: Run Playwright Tests
      run: pnpm run test
      env:
        PLAYWRIGHT_TEST_BASE_URL: ${{ steps.get-netlify-url.outputs.url }}

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: playwright-report
        path: playwright-report
